In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=0459fdab70eda808dbb9cb594b071fa1a2402883dc662691b222e21fc1f2219c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
sp = SparkSession.builder.appName('test').getOrCreate()

In [ ]:
type(sp)

pyspark.sql.session.SparkSession

In [ ]:
df = sp.read.csv('/content/annual-enterprise-survey-2023-financial-year-provisional-size-bands.csv',header = True, inferSchema = True)
df.show()

+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
|year|industry_code_ANZSIC|industry_name_ANZSIC|rme_size_grp|            variable|value|             unit|
+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
|2011|                   A|Agriculture, Fore...|         a_0|       Activity unit|46134|            COUNT|
|2011|                   A|Agriculture, Fore...|         a_0|Rolling mean empl...|    0|            COUNT|
|2011|                   A|Agriculture, Fore...|         a_0|Salaries and wage...|  279|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Sales, government...| 8187|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|        Total income| 8866|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|   Total expenditure| 7618|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Operating profit ...|  770|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|        Total assets|55700|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Fixed tangible as...|32155|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|       Activity unit|21777|            COUNT|
|2011|                   A|Agriculture, Fore...|       b_1-5|Rolling mean empl...|38136|            COUNT|
|2011|                   A|Agriculture, Fore...|       b_1-5|Salaries and wage...| 1435|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Sales, government...|13359|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|        Total income|13771|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|   Total expenditure|12316|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Operating profit ...| 1247|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|        Total assets|52666|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Fixed tangible as...|31235|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       c_6-9|       Activity unit| 1965|            COUNT|
|2011|                   A|Agriculture, Fore...|       c_6-9|Rolling mean empl...|13848|            COUNT|
+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
only showing top 20 rows

In [ ]:
df = sp.read.csv('/content/sales_records.csv',header = True, inferSchema = True)
df.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Middle East and N...|          Azerbaijan|         Snacks|       Online|             C| 10/8/2014|535113847|10/23/2014|       934|    152.58|    97.44|    142509.72|  91008.96|    51500.76|
|Central America a...|              Panama|      Cosmetics|      Offline|             L| 2/22/2015|874708545| 2/27/2015|      4551|     437.2|   263.33|    1989697.2|1198414.83|   791282.37|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|      Offline|             M| 12/9/2015|854349935| 1/18/2016|      9986|      9.33|     6.92|     93169.38|  69103.12|    24066.26|
|  Sub-Saharan Africa|Sao Tome and Prin...|  Personal Care|       Online|             M| 9/17/2014|892836844|10/12/2014|      9118|     81.73|    56.67|    745214.14| 516717.06|   228497.08|
|Central America a...|              Belize|      Household|      Offline|             H|  2/4/2010|129280602|  3/5/2010|      5858|    668.27|   502.54|   3914725.66|2943879.32|   970846.34|
|              Europe|             Denmark|        Clothes|       Online|             C| 2/20/2013|473105037| 2/28/2013|      1149|    109.28|    35.84|    125562.72|  41180.16|    84382.56|
|              Europe|             Germany|      Cosmetics|      Offline|             M| 3/31/2013|754046475|  5/3/2013|      7964|     437.2|   263.33|    3481860.8|2097160.12|  1384700.68|
|Middle East and N...|              Turkey|         Fruits|       Online|             C| 3/26/2012|772153747|  4/7/2012|      6307|      9.33|     6.92|     58844.31|  43644.44|    15199.87|
|              Europe|      United Kingdom|         Snacks|       Online|             H|12/29/2012|847788178| 1/15/2013|      8217|    152.58|    97.44|   1253749.86| 800664.48|   453085.38|
|                Asia|          Kazakhstan|      Cosmetics|       Online|             H| 9/11/2015|471623599| 9/18/2015|      2758|     437.2|   263.33|    1205797.6| 726264.14|   479533.46|
|Central America a...|               Haiti|      Cosmetics|       Online|             C|12/27/2013|554646337|  1/1/2014|      1031|     437.2|   263.33|     450753.2| 271493.23|   179259.97|
|              Europe|               Italy|        Clothes|       Online|             M|12/17/2013|278155219| 1/10/2014|      1165|    109.28|    35.84|     127311.2|   41753.6|     85557.6|
|              Europe|               Malta|      Household|      Offline|             L| 3/10/2015|243761575| 4/17/2015|      3322|    668.27|   502.54|   2219992.94|1669437.88|   550555.06|
|Middle East and N...|              Jordan|      Household|      Offline|             L|  7/9/2014|223389232| 7/18/2014|      4693|    668.27|   502.54|   3136191.11|2358420.22|   777770.89|
|                Asia|            Cambodia|     Vegetables|      Offline|             H| 6/14/2017|509274518| 6/29/2017|      4502|    154.06|    90.93|    693578.12| 409366.86|   284211.26|
|Central America a...|Saint Kitts and N...|Office Supplies|       Online|             H| 8/10/2011|563966262| 8/29/2011|      9004|    651.21|   524.96|   5863494.84|4726739.84|   1136755.0|
|  Sub-Saharan Africa|            Cameroon|         Fruits|       Online|             H|12/18/2015|370325791|  2/6/2016|      6486|      9.33|     6.92|     60514.38|  44883.12|    15631.26|
|Middle East and N...|             Bahrain|     Vegetables|      Offline|             L| 6/26/2016|881526935| 7/19/2016|      2264|    154.06|    90.93|    348791.84| 205865.52|   142926.32|
|Australia and Oce...|     Solomon Islands|      Beverages|      Offline|             C| 5/11/2015|871056020| 5/30/2015|      3688|     47.45|    31.79|     174995.6| 117241.52|    57754.08|
|              Europe|              Monaco|Office Supplies|       Online|             M| 1/13/2012|982711875| 1/17/2012|      5137|    651.21|   524.96|   3345265.77|2696719.52|   648546.25|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [ ]:
# creating a variable to store the file with its location
sales_data = '/content/sales_records.csv'

#creating a sales dataframe and loading the file
sales_df = (sp.read.format("csv")
                     .option("header", "true")
                     .option("inferSchema", "true")
                     .load(sales_data))

#selecting few records and showing them using spark
sales_df.select("Region","Country","Order ID").show(n=10,truncate = False)

+---------------------------------+---------------------+---------+
|Region                           |Country              |Order ID |
+---------------------------------+---------------------+---------+
|Middle East and North Africa     |Azerbaijan           |535113847|
|Central America and the Caribbean|Panama               |874708545|
|Sub-Saharan Africa               |Sao Tome and Principe|854349935|
|Sub-Saharan Africa               |Sao Tome and Principe|892836844|
|Central America and the Caribbean|Belize               |129280602|
|Europe                           |Denmark              |473105037|
|Europe                           |Germany              |754046475|
|Middle East and North Africa     |Turkey               |772153747|
|Europe                           |United Kingdom       |847788178|
|Asia                             |Kazakhstan           |471623599|
+---------------------------------+---------------------+---------+
only showing top 10 rows

In [ ]:
# select the fileds that we require

# Import necessary functions
from pyspark.sql.functions import count

# Grouping by Region and Country and counting the Order IDs
sales_df_count = (sales_df.select("Region", "Country", "Order ID")
                            .groupBy("Region", "Country")
                            .agg(count("Order ID").alias("Total Orders"))
                            .orderBy("Total Orders", ascending=False))

# Showing the result
sales_df_count.show(n=10, truncate = False)

# Showing total number of rows
print("Total rows: ",(sales_df_count.count()))

+---------------------------------+-------------+------------+
|Region                           |Country      |Total Orders|
+---------------------------------+-------------+------------+
|Sub-Saharan Africa               |Sudan        |623         |
|Australia and Oceania            |New Zealand  |593         |
|Europe                           |Vatican City |590         |
|Europe                           |Malta        |589         |
|Sub-Saharan Africa               |Mozambique   |589         |
|Asia                             |Cambodia     |584         |
|Middle East and North Africa     |Tunisia      |584         |
|Central America and the Caribbean|Panama       |578         |
|Sub-Saharan Africa               |Rwanda       |576         |
|Sub-Saharan Africa               |Cote d'Ivoire|575         |
+---------------------------------+-------------+------------+
only showing top 10 rows

Total rows:  185

In [ ]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [ ]:
bg_lst = range(1000)
rdd = sc.parallelize(bg_lst,2)
odds = rdd.filter(lambda x: x%2 !=0)
odds.take(5)

[1, 3, 5, 7, 9]