In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=94bb4f6715a2a11b43e414c00b665735a37d2d7a950a85bf1c2fcfbae6141ce3
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
sp = SparkSession.builder.getOrCreate()

In [ ]:
lst = [1,2,3,4,45,21,12,78]
s = sp.sparkContext.parallelize(lst).reduce(lambda x,y: x+y)
print(s)

166

Using a (sum)function for RDD-action

In [ ]:
def sum_lst(x,y):
  print(x,y)
  return x+y

In [ ]:
result = sp.sparkContext.parallelize(lst).reduce(lambda x,y: sum_lst(x,y))
print(result)

3 7
10

Finding the largest word from a list of words using **reduce()** action

In [ ]:
# sample list
word_list = ['hello','apple','banana','tree','red']

In [ ]:
# function to find the longest word
def find_word(x,y):
  if len(x) > len(y):
    return x
  else:
    return y

In [ ]:
# using 'find_word' function with reduce
largest_word = sp.sparkContext.parallelize(word_list).reduce(find_word)
print(largest_word)

banana

Finding min and max value from a list using **reduce**

In [ ]:
max_value = sp.sparkContext.parallelize(lst).reduce(lambda x, y: x if x > y else y)
min_value = sp.sparkContext.parallelize(lst).reduce(lambda x, y: x if x < y else y)
print("Max Value:", max_value)
print("Min Value:", min_value)

Max Value: 78
Min Value: 1

Challange 1: Convert fahrenheit to centigrade


*   Get the temparature data points greater than 13 degree celcius

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
temp_lst = [59,57.2,53.6,55.4,51.8,53.6,55.4]
temp_rdd = spark.sparkContext.parallelize(temp_lst)
temp_rdd.collect()

[59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]

In [ ]:
def fahrenheit_to_celcius(temp_f):
    temp_c = (temp_f - 32) * 5/9
    return temp_c

In [ ]:
final_result = temp_rdd.map(fahrenheit_to_celcius).filter(lambda x: x >= 13).collect()
print(final_result)

[15.0, 14.000000000000002, 13.0, 13.0]

Challange 2:
XYZ Research

RDD API - XYZ - Research

Imagine working as a Data Scientist for a company called XYZ Research that performs research on many diversified topics, and each research project comes with a Research ID.

Each Research can be completed within a year and beyond.

Take a look at the data below;

data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']

data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']

data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

The above-mentioned data indicates the number of projects that have been completed over a period of 3 years.

In 2001, there were at least 7 research projects [RIN1 - 7] that were initiated, RIN8 and RIN9 were initiated in 2002, while RIN10, RIN11, and RIN12 were initiated in 2003.

RIN3 also appears in 2002, meaning that the research project has actually spanned over 2 years, RIN4, on the other hand, appears in 2001, 2002, and 2003 which means that the research project spanned over 3 years.

XYZ Research Requires you to examine the data and find answers to the following questions;

1. How many research projects were initiated in the three years?

2. How many projects were completed in the first year?

3. How many projects were completed in the first two years?

In [ ]:
# How many research projects were initiated in the three years?

data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']
data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']
data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

rdd2001 = spark.sparkContext.parallelize(data2001List)
rdd2002 = spark.sparkContext.parallelize(data2002List)
rdd2003 = spark.sparkContext.parallelize(data2003List)

final_rdd = rdd2001.union(rdd2002).union(rdd2003).distinct().collect()
print("List of the initiated projects")
print(final_rdd)
print(f"Total {len(final_rdd)} projects were initiated in the three years.")

List of the initiated projects
['RIN1', 'RIN10', 'RIN12', 'RIN2', 'RIN3', 'RIN5', 'RIN8', 'RIN4', 'RIN9', 'RIN11', 'RIN6', 'RIN7']
Total 12 projects were initiated in the three years.

In [ ]:
# How many projects were completed in the first year?
first_year_cpmpleted_projects = rdd2001.subtract(rdd2002)
print("List of the completed projects in the first year")
print(first_year_cpmpleted_projects.collect())
print(f"Total {first_year_cpmpleted_projects.count()} projects were completed in the first year.")

List of the completed projects in the first year
['RIN1', 'RIN2', 'RIN5', 'RIN6']
Total 4 projects were completed in the first year.

In [ ]:
# How many projects were completed in the first two years?

union_first_two_years = rdd2001.union(rdd2002)
union_first_two_years.collect()

['RIN1',
 'RIN2',
 'RIN3',
 'RIN4',
 'RIN5',
 'RIN6',
 'RIN7',
 'RIN3',
 'RIN4',
 'RIN7',
 'RIN8',
 'RIN9']

In [ ]:
completed_projects = union_first_two_years.subtract(rdd2003).distinct().collect()
print(completed_projects)
print(f"Total {len(completed_projects)} projects were completed in the first two years.")

['RIN1', 'RIN2', 'RIN3', 'RIN5', 'RIN9', 'RIN6', 'RIN7']
Total 7 projects were completed in the first two years.